
*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #1c1c1c;
}

#container{
    width: 400px;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

input{
    flex-grow: 1;
    background-color: #1c1c1c;
    outline: none;
    border: 0;
    color:white;
    text-align: right;
    padding: 0px 30px;
    font-size: 64px;

}

.button-grid{
    flex-grow: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}

button{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 0;
    font-size: 28px;
    color: white;
    background-color: #505050;
    cursor: pointer;
    font-weight: 400;
    transition-duration: 200ms;
}

button:active{
    transform: scale(0.85);
}

.gray-button{
    background-color: rgb(195, 186, 186);
    color: #1c1c1c;

}
.yellow-btn{
    color: white;
    background-color: rgb(248, 159, 5);
}

.zero{
    grid-column: span 2;
    border-radius: 76px;
}