<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <a href="/comments">See all Comments</a>
    
    <h1>Particular Comment Dekhlo !!</h1>

    <h2> ID: <%= foundComment.id %> </h2>
    <h3> Name: <%= foundComment.username %> </h3>
    <p> Comment: <%= foundComment.comment %></p> 

</body>
</html>